<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>
    <br />
    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button>
        <button formaction="/stream" class="pure-button button-small">HOME</button>
        <button formaction="/albums" class="pure-button button-small">TOP ALBUMS</button>
        <button formaction="/songs" class="pure-button button-small">TOP SONGS</button>
        <button formaction="/search" class="pure-button button-small">Search</button>

    </form>
</div>

<br /><br />
</section>

<section class="portfolio-block photography">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image"
                        src="https://djbooth.net/.image/t_share/MTY5MTAxNzM3MTg4MjcxMzkz/best-albums-of-2019-final-dec.jpg" /></a>

            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover middleImage"><a href="#"><img class="img-fluid image"
                        src="https://djbooth.net/.image/t_share/MTY5MTAxNzM3MTg4MjcxMzkz/best-albums-of-2019-final-dec.jpg" /></a>

            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover rightImage"><a href="#"><img class="img-fluid image"
                        src="https://djbooth.net/.image/t_share/MTY5MTAxNzM3MTg4MjcxMzkz/best-albums-of-2019-final-dec.jpg" /></a>

            </div>
        </div>
        <br /><br />
</section>

<br /><br />

<form class="pure-u-4-5 pure-form" style="width:80%; padding-left:18% " method="post" action="/post_ar">
    <fieldset class="pure-g">
        <legend class="pure-u-1" style="color: white; background-color: black; text-align:center; font-size:2em;">
            {{#each reviewAlbum}}
            Review For {{name}}</legend>
        <select name='album_id'>
            <option value="{{ albumid }}" selected>{{ albumid }}</option>
        </select>
        {{/each}}


        <div class="reviewAlbum" style="background-color: white; color:black;" style="overflow-y: auto;">
            <div class="pure-u-1 review">
                <div class="user-info">
                    <a href="/user/{{ name }}" style="text-decoration: none"><span class="name info"
                            style="color: blue;"><small>{{ userName }}</small></span></a>
                </div>
                <div class="twizzle-content">
                    {{ content }}
                </div>





            </div>

        </div>
        <input name="review" class="pure-u-4-5" style="color: black; width:100%;" placeholder="Say something...">
        <input id="review" class="pure-u-1-5 pure-button pure-button-primary" type="submit" value="Post">
        <button formaction="/likedAlbum" class="fa fa-thumbs-up green_button counter-btn" style="font-size:48px">
            Like </button>

    </fieldset>
</form>




</div>

<script>
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());



</script>