<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>
    <br />
    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button>
        <button formaction="/stream" class="pure-button button-small">HOME</button>
        <button formaction="/albums" class="pure-button button-small">TOP ALBUMS</button>
        <button formaction="/songs" class="pure-button button-small">TOP SONGS</button>
        <button formaction="/search" class="pure-button button-small">Search</button>

    </form>
</div>

<br /><br />
</section>
    <center>
    {{#each url}}
        <img src={{url}} alt="Smiley face" height="400" width="400">
     {{/each}}
     </center>
<br /><br />

<form class="pure-u-4-5 pure-form" style="width:80%; padding-left:18% " method="post" action="/post_as">
    <fieldset class="pure-g">
        <legend class="pure-u-1" style="color: white; background-color: black; text-align:center; font-size:2em;">
            {{#each reviewSingle}}

            Review For: {{name}}</legend>
        <select style='display:none;' name='single_id'>
            <option value="{{ singleid }}" selected>{{ singleid }}</option>
        </select>
       
       
        <textarea name="review" rows="4" cols="100" style="color: black; width:100%;" placeholder="Say something about {{name}}..."></textarea>
        {{/each}}
        <input id="review" class="pure-u-1-5 pure-button pure-button-primary" type="submit" value="Post"/>
        <button formaction="/likedAlbum" class="fa fa-thumbs-up green_button counter-btn" style="font-size:48px">
            Like </button>
    </fieldset>
</form>
</div>

<script>
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());
    $('.counter-btn').click(function (e) {
        e.preventDefault();
        var $btn = $(this);
        $('#output-' + $btn.data('index')).html(function (i, val) {
            val = val * 1 + $btn.data('inc');
            return (val <= 0 ? '' : '+') + val;
        });
    });
</script>