
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>
    <br />
    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button>
        <button formaction="/stream" class="pure-button button-small">HOME</button>
        <button formaction="/songs" class="pure-button button-small">TOP ALBUMS</button>
        <button formaction="/songs" class="pure-button button-small">TOP SONGS</button>
        <button formaction="/search" class="pure-button button-small">Search</button>

    </form>
</div>
<br/><br/><br/>
<div style="text-align: center;">
    <p style="font-size: 50px;" ;>
        Look Up Artists
    </p>
    <br/>

    
    <form method="post">
        <select id='test' name="artist_name" class="main-text">
            {{#each artist}}
            <option value="{{ name }}">{{ name }}</option>
            {{/each}}
        </select>
        <button formaction="/search/artist" class="pure-button pure-button-primary button-style2" onclick="TestsFunction()">Search</button>
    </form>
<div id="TestsDiv" >

    <h1 style="text-decoration: underline;">Artist</h1>
    {{#each artists}}
        <h3 style='font-style: italic'><strong>{{name}}</strong></h3>
     {{/each}}
     {{#each url}}
        <img src={{url}} alt="Smiley face" height="400" width="400">
     {{/each}}

<br/>

    <h1>Albums</h1>
            <form method="post"> 
            <select id='test' name="album_name" class="main-text">
            {{#each album}}
            <option value="{{ name }}">{{ name }}</option>
            {{/each}}
            </select>
            <button formaction="/search/artist/reviewAlbum" class="pure-button button-style2">Review</button>
            </form>

<br/>
    <h1>Songs</h1>
            <form method="post"> 
            <select id='test' name="single_name" class="main-text">
            {{#each song}}
            <option value="{{ name }}">{{ name }}</option>
            {{/each}}
            </select>
            <button formaction="/search/artist/reviewSingle" class="pure-button button-style2">Review</button>
            </form>

           <br/>

</div>
</div>

<script>
    function TestsFunction() {
    var T = document.getElementById("TestsDiv");
    T.style.display = "block";  // <-- Set it to block
}
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());
    function TestsFunction() {
    var T = document.getElementById("TestsDiv");
    T.style.display = "block";  // <-- Set it to block
}
</script>