<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>
    <br />
    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button>

        <button formaction="/profile" class="pure-button button-small">PROFILE</button>
        <button formaction="/stream" class="pure-button button-small">TOP ALBUMS</button>
        <button formaction="/songs" class="pure-button button-small">TOP SONGS</button>

        <button formaction="/user/{{ stream_name }}/follow" class="pure-button button-secondary button-small cmd-follow"
            {{#unless can_follow }} disabled{{/unless}}>follow</a>
            <button formaction="/user/{{ stream_name }}/unfollow"
                class="pure-button button-warning button-small cmd-unfollow" {{#unless can_unfollow }}
                disabled{{/unless}}>unfollow</a>

    </form>
</div>

<section class="portfolio-block photography">
    <div class="container">
        <div style="margin: 10vh" class="rowH">

        </div>
    </div>
    <br /><br />
</section>

<section class="portfolio-block photography">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image"
                        src="https://akaitodirection.com/wp-content/uploads/2020/03/3163fad2484ccc6d6a8309bb6f5cb025.1000x1000x1.jpg" /></a>
                <h2>Song Name <br /> - Made by Artist</h2>

                <button class="fa fa-thumbs-up green_button counter-btn" id="increase1" type="button" data-index="1"
                    data-inc="1" style="font-size:48px">
                </button>

                <button class="fa fa-thumbs-down red_button counter-btn" id="decrease1" type="button" data-index="1"
                    data-inc="-1" style="font-size:48px">
                </button>

                <div class="output" id="output-1">10</div>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover middleImage"><a href="#"><img class="img-fluid image"
                        src="https://akaitodirection.com/wp-content/uploads/2020/03/3163fad2484ccc6d6a8309bb6f5cb025.1000x1000x1.jpg" /></a>
                <h2>Song Name <br /> - Made by Artist</h2>

                <button class="fa fa-thumbs-up green_button counter-btn" id="increase2" type="button" data-index="2"
                    data-inc="1" style="font-size:48px">
                </button>

                <button class="fa fa-thumbs-down red_button counter-btn" id="decrease2" type="button" data-index="2"
                    data-inc="-1" style="font-size:48px">
                </button>
                <div class="output" id="output-2">40</div>

            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover rightImage"><a href="#"><img class="img-fluid image"
                        src="https://djbooth.net/.image/t_share/MTY5MTAxNzM3MTg4MjcxMzkz/best-albums-of-2019-final-dec.jpg" /></a>
                <h2>Song Name <br /> - Made by Artist</h2>

                <button class="fa fa-thumbs-up green_button counter-btn" id="increase3" type="button" data-index="3"
                    data-inc="1" style="font-size:48px">
                </button>

                <button class="fa fa-thumbs-down red_button counter-btn" id="decrease3" type="button" data-index="3"
                    data-inc="-1" style="font-size:48px">
                </button>
                <div class="output" id="output-3">140</div>


            </div>
        </div>
        <br /><br />
</section>

<section style="padding-left: 30%;">
    <div class="row">
        <div style="border-bottom: 1px solid grey;">
            <h4>River in me &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <span
                    style="font-size: 15px; color:gray">48:54</span></h1>
                <p>Song Artist &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <button class="fa fa-thumbs-up green_button counter-btn" id="increase4" type="button" data-index="4"
                        data-inc="1" style="font-size:48px">
                    </button>

                    <button class="fa fa-thumbs-down red_button counter-btn" id="decrease4" type="button" data-index="4"
                        data-inc="-1" style="font-size:48px">
                    </button>
                    <div class="output" id="output-4" style="text-align:end">39</div>
                </p>
        </div>
        <div style="border-bottom: 1px solid grey; padding-left:5%">
            <h4>River in me &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <span
                    style="font-size: 15px; color:gray">48:54</span></h1>
                <p>Song Artist &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <button class="fa fa-thumbs-up green_button counter-btn" id="increase5" type="button" data-index="5"
                        data-inc="1" style="font-size:48px">
                    </button>

                    <button class="fa fa-thumbs-down red_button counter-btn" id="decrease5" type="button" data-index="5"
                        data-inc="-1" style="font-size:48px">
                    </button>
                    <div class="output" id="output-5" style="text-align:end">21</div>
                </p>
        </div>
    </div>
    <div class="row">
        <div style="border-bottom: 1px solid grey; ">
            <h4>River in me &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <span
                    style="font-size: 15px; color:gray">48:54</span></h1>
                <p>Song Artist &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <button class="fa fa-thumbs-up green_button counter-btn" id="increase6" type="button" data-index="6"
                        data-inc="1" style="font-size:48px">
                    </button>

                    <button class="fa fa-thumbs-down red_button counter-btn" id="decrease6" type="button" data-index="6"
                        data-inc="-1" style="font-size:48px">
                    </button>
                    <div class="output" id="output-6" style="text-align:end">19</div>
                </p>
        </div>
        <div style="border-bottom: 1px solid grey; padding-left:5%">
            <h4>River in me &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <span
                    style="font-size: 15px; color:gray">48:54</span></h1>
                <p>Song Artist &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <button class="fa fa-thumbs-up green_button counter-btn" id="increase7" type="button" data-index="7"
                        data-inc="1" style="font-size:48px">
                    </button>

                    <button class="fa fa-thumbs-down red_button counter-btn" id="decrease7" type="button" data-index="7"
                        data-inc="-1" style="font-size:48px">
                    </button>
                    <div class="output" id="output-7" style="text-align:end">100</div>
                </p>
        </div>
    </div>
</section>

<br /><br />
<!--
<div class="content pure-g">
    <div class="pure-u-1-5" style="height: 79vh;">
        <form class="pure-form" style="height: 39vh;" method="post" action="/follow">
            <fieldset style="padding-right: 1em">
                <legend style="color: white;">Following</legend>
                <!-<input name="follow" placeholder="User Name" style="width: 100%">
                <input id="follow" class="pure-button button-secondary" type="submit" value="+ Follow" style="width: 100%">->
                <ul class="list-user">
                    {{#each followees}}
                    <li class="item-user pure-g">
                        <div class="pure-u-1 pure-u-md-4-5">
                            <a style="" href="/user/{{ name }}">{{ displayname }} <small>@{{ name }}</small></a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </fieldset>
        </form>

        <form class="pure-form" style="height: 39vh;">
            <fieldset style="padding-right: 1em">
                <legend style="color: white;">Followers</legend>
                <ul class="list-user">
                    {{#each followers}}
                    <li class="item-user">
                        <a href="/user/{{ name }}">{{ displayname }} <small>@{{ name }}</small></a>
                    </li>
                    {{/each}}
                </ul>
            </fieldset>
        </form>
    </div>-->
<form class="pure-u-4-5 pure-form" style="width:80%; padding-left:18% " method="post" action="/post">
    <fieldset class="pure-g">
        {{#if is_own_stream}}
        <legend class="pure-u-1" style="color: white; background-color: black; text-align:center; font-size:2em;">LATEST
            COMMENTS</legend>
        {{/if}}
        <div class="stream" style="background-color: white; color:black;" style="overflow-y: auto;">
            {{#each stream}}
            <div class="pure-u-1 twizzle">
                <div class="user-info">
                    <span class="displayname">{{ displayname }}</span>
                    <a href="/user/{{ name }}" style="text-decoration: none"><span class="name info"
                            style="color: black;"><small>(@{{ name }})</small></span></a>
                    <span class="when info" style="color: black;">{{ posted }}</span>
                </div>
                <div class="twizzle-content">
                    {{ content }}
                </div>
            </div>
            {{/each}}


        </div>
        <input name="twizzle" class="pure-u-4-5" style="color: black; width:100%;" placeholder="Say something...">
        <input id="twizzle" class="pure-u-1-5 pure-button pure-button-primary" type="submit" value="Post">
    </fieldset>
</form>
</div>


<script>
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());

    $('.counter-btn').click(function (e) {
        e.preventDefault();
        var $btn = $(this);
        $('#output-' + $btn.data('index')).html(function (i, val) {
            val = val * 1 + $btn.data('inc');
            return (val <= 0 ? '' : '+') + val;
        });
    });
</script>