<div class="header">
    <h1 class="frontpage">
        FANS CHOICE
    </h1>


    <form method="post">
        <button formaction="/logout" class="pure-button button-small">logout</button></center>
        <button formaction="/user/{{ stream_name }}/follow" class="pure-button button-secondary button-small cmd-follow"
            {{#unless can_follow }} disabled{{/unless}}>follow</a>
            <button formaction="/user/{{ stream_name }}/unfollow"
                class="pure-button button-warning button-small cmd-unfollow" {{#unless can_unfollow }}
                disabled{{/unless}}>unfollow</a>
    </form>
</div>
<section class="portfolio-block photography">
    <div class ="container">
        <div class="rowH">
            <div style="padding-left: 15%;"><a href="#"><h2>Profile</h2></a></img></div>
            <div style="padding-left: 20%; text-align:center;"><h1>TOP<br/>ALBUMS</h1></div>
            <div style="padding-left: 20%; text-align:center;"><h2>TOP<br/>SONGS</h2></div>
        </div>
    </div>
   <br/><br/>
</section>

<section class="portfolio-block photography">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="https://djbooth.net/.image/t_share/MTY5MTAxNzM3MTg4MjcxMzkz/best-albums-of-2019-final-dec.jpg" /></a>
            <h2>Song Name <br/> - Made by Artist</h2>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover middleImage"><a href="#"><img class="img-fluid image" src="https://djbooth.net/.image/t_share/MTY5MTAxNzM3MTg4MjcxMzkz/best-albums-of-2019-final-dec.jpg" /></a>
            <h2>Song Name <br/> - Made by Artist</h2>
            </div>
            <div class="col-md-6 col-lg-4 item zoom-on-hover rightImage"><a href="#"><img class="img-fluid image" src="https://djbooth.net/.image/t_share/MTY5MTAxNzM3MTg4MjcxMzkz/best-albums-of-2019-final-dec.jpg" /></a>
            <h2>Song Name <br/> - Made by Artist</h2>
            </div>
        </div>

</section>

<div class="content pure-g">
    <div class="pure-u-1-5" style="height: 79vh;">
        <form class="pure-form" style="height: 39vh;" method="post" action="/follow">
            <fieldset style="padding-right: 1em">
                <legend>Following</legend>
                <!--<input name="follow" placeholder="User Name" style="width: 100%">
                <input id="follow" class="pure-button button-secondary" type="submit" value="+ Follow" style="width: 100%">-->
                <ul class="list-user">
                    {{#each followees}}
                    <li class="item-user pure-g">
                        <div class="pure-u-1 pure-u-md-4-5">
                            <a style="" href="/user/{{ name }}">{{ displayname }} <small>@{{ name }}</small></a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </fieldset>
        </form>

        <form class="pure-form" style="height: 39vh;">
            <fieldset style="padding-right: 1em">
                <legend>Followers</legend>
                <ul class="list-user">
                    {{#each followers}}
                    <li class="item-user">
                        <a href="/user/{{ name }}">{{ displayname }} <small>@{{ name }}</small></a>
                    </li>
                    {{/each}}
                </ul>
            </fieldset>
        </form>
    </div>
    <form class="pure-u-4-5 pure-form" method="post" action="/post">
        <fieldset class="pure-g" style="padding-left: 3em;">
            {{#if is_own_stream}}
            <legend class="pure-u-1">The haps</legend>
            <input name="twizzle" class="pure-u-4-5" placeholder="blah blah blah">
            <input id="twizzle" class="pure-u-1-5 pure-button pure-button-primary" type="submit" value="Post">
            {{/if}}

            <div class="stream" style="overflow-y: auto;">
                {{#each stream}}
                <div class="pure-u-1 twizzle">
                    <div class="user-info">
                        <span class="displayname">{{ displayname }}</span>
                        <a href="/user/{{ name }}" style="text-decoration: none"><span
                                class="name info"><small>(@{{ name }})</small></span></a>
                        <span class="when info">{{ posted }}</span>
                    </div>
                    <div class="twizzle-content">
                        {{ content }}
                    </div>
                </div>
                {{/each}}
            </div>
        </fieldset>
    </form>
</div>







<script>
    $("span.when").each((_, e) => e.innerHTML = moment(e.innerHTML).fromNow());
</script>